.App.container {
  margin-top: 1rem;
}

/* Nav css */
.desktop {
  display:none;
}
.mobile {
  display:block;
}
.navbar {
  overflow: hidden;
  position: relative;
}
.navbar-list {
  display: none;
  list-style: none;
}
.navbar-link {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.navbar-link.active {
  color: #33C3F0; 
}
.navbar-list a:hover {
  background-color: #33C3F0;
  color: black;
}

h3 {
  text-align: center;
}
@media (max-width: 749px) {
  .navbar.mobile {
    background-color: #eae9ea;
    border-bottom: #dad9da 1px solid;
  }
  .navbar-link {
    padding: 7px 0;
  }
  .navbar-list {
    margin-top: 1.5rem;
  }
}
@media (min-width: 750px) {
  .navbar {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar > .container {
    text-align: center;
    width: 100%; }
  .navbar-list {
    display: inline-block;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin: 0 18px;
    line-height: 6.5rem;
    color: #222; }
    .desktop {
      display: block;
    }
    .mobile{
      display:none;
    }
}